body {
  font-family: Helvetica, Arial, sans-serif;
}
header {
  background-size: cover;
  padding: 4em;
  color: white;
}

@media only screen and (max-width: 40.063em) {
  header {
    background-image: url('images/hero-image-sml.jpg');
  }
}

@media only screen and (min-width: 40.063em) and (max-width: 64.063em) {
  header {
    background-image: url('images/hero-image-med.jpg');
  }
}

@media only screen and (min-width: 64.063em) {
  header {
    background-image: url('images/hero-image-lg.jpg');
  }
}
