/* Color Scheme: http://colorpalettes.net/color-palette-1253/ */

body {
  font-family: Hind, Helvetica, sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5 {
  font-family: Arvo, serif;
  font-weight: normal;
}

a {
  color: #609b83;
}

a:hover {
  color: #fdcfb7;
}

p {
  margin: 0;
}

header h1, header nav {
  display: inline-block;
}

.nav-link {
  margin-left: 2em;
  text-decoration: none;
}

.grad-bar {
  background: linear-gradient(45deg, rgba(254,251,208,1) 0%, rgba(253,207,183,1) 22%, rgba(244,130,140,1) 67%, rgba(119,92,106,1) 100%);
  background-attachment: fixed;
  height: .5em;
  margin: 0 -1em 2em;
}

.content-box {
  margin: 0 auto;
  max-width: 70em;
  padding: 0 1em;
}

.main, .right-rail {
  float: left;
  width: 100%;
}

.main article {
  margin-bottom: 1em;
}

.intro {
  margin-top: 0;
}

@media (min-width: 900px) {
  .main {
    width: 75%;
  }

  .main article {
    padding-right: 2em;
  }

  .right-rail {
  	width: 25%;
  }
}

@media (max-width: 450px) {
  header h1, header nav {
  	display: block;
  }

  header h1 {
  	margin-bottom: 1rem;
  }

  nav {
  	margin-bottom: 1em;
  }

  .nav-link {
  	margin: 0 2em 0 0;
  }
}
